<a href="https://colab.research.google.com/github/shubh-eng/ML/blob/master/ML_Lab04_070720.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data = pd.read_excel('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Canada.xlsx',
 sheet_name='Canada by Citizenship',
 skiprows=range(20),
 skipfooter=2)

##Exercise: 1

In [3]:
data

           Type    Coverage          OdName  AREA  ...  2010  2011  2012  2013
0    Immigrants  Foreigners     Afghanistan   935  ...  1758  2203  2635  2004
1    Immigrants  Foreigners         Albania   908  ...   561   539   620   603
2    Immigrants  Foreigners         Algeria   903  ...  4752  4325  3774  4331
3    Immigrants  Foreigners  American Samoa   909  ...     0     0     0     0
4    Immigrants  Foreigners         Andorra   908  ...     0     0     1     1
..          ...         ...             ...   ...  ...   ...   ...   ...   ...
190  Immigrants  Foreigners        Viet Nam   935  ...  1942  1723  1731  2112
191  Immigrants  Foreigners  Western Sahara   903  ...     0     0     0     0
192  Immigrants  Foreigners           Yemen   935  ...   211   160   174   217
193  Immigrants  Foreigners          Zambia   903  ...   102    69    46    59
194  Immigrants  Foreigners        Zimbabwe   903  ...   494   434   437   407

[195 rows x 43 columns]

In [4]:
data.drop(['AREA', 'Coverage', 'Type', 'REG', 'DEV'],axis=1, inplace=True)

In [5]:
data.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Continent-Region', 'DevName':'Development-status'}, inplace=True)

In [6]:
data.set_index('Country', inplace=True)

In [7]:
data['Total'] = df_can.sum(axis=1)

NameError: ignored

In [ ]:
years = range(1980,2014)

In [ ]:
data.head()

In [ ]:
data['Total'].plot(
    kind='pie',
    figsize=(10,10),
  )
plt.title("Total immigration to Canada 1980-2013")
plt.show()

In [ ]:
dfnew2 = data[(data['Continent']=='Europe') & (data['Total']>10000)]

dfnew2['Total'].plot(
    kind='pie',
    figsize=(20,15),
    autopct='%1.1f%%',
    shadow=True,
    labels=None
  )
plt.title("Total immigration to Canada from Europe 1980-2013")
plt.legend(labels=dfnew2.index, loc="upper left")
plt.show()

In [ ]:
dfnew3 = data[(data['Continent']=='Europe') & (data['Total']>100000)]

colors = ['yellow','blue','red']
explodes = [0,0,0.1]

dfnew3['Total'].plot(
    kind='pie',
    figsize=(10,10),
    autopct='%1.1f%%',
    shadow=True,
    labels=None,
    explode=explodes
  )
plt.title("Total immigration to Canada from Europe 1980-2013")
plt.legend(labels=dfnew3.index, loc="upper left")
plt.show()

Q1. By Continent-region pie-chart use colorlists, explode, pct, figsize, add title, add axes, add legend, remove labels and use shadows.

In [ ]:
dfnew4 = data.groupby('Continent-Region', axis='rows').sum()

dfnew4.head()
dfnew4['Total'].plot(
    kind='pie',
    figsize=(15, 20),
    autopct='%1.1f%%',
    shadow=True,
    labels=None,
    startangle = 0,
  )
plt.title("Total immigration to Canada from the World Continent-Region wise 1980-2013")
plt.legend(labels=dfnew4.index, loc="upper left")
plt.show()

Q2.By Development-status pie-chart use colorlists, explode, pct, figsize, add title, add axes, add legend, remove labels and use shadows.

In [ ]:
dfnew4 = data.groupby('Development-status', axis='rows').sum()

dfnew4.head()
dfnew4['Total'].plot(
    kind='pie',
    figsize=(10, 10),
    autopct='%1.1f%%',
    shadow=True,
    labels=None,
    startangle = 0,
  )
plt.title("Total immigration to Canada from the World Development Status wise 1980-2013")
plt.legend(labels=dfnew4.index, loc="upper left")
plt.show()

In [ ]:
data.head()

df_india = data.loc[['India'],years].transpose()
df_india.head()

df_india.plot(
    kind="box",
    figsize=(10,10)
)
plt.title("Immigration from India to Canada 1980-2013")
plt.show()

In [ ]:
df_indiapak = data.loc[['India','Pakistan'],years].transpose()
df_indiapak.head()

df_indiapak.plot(
    kind="box",
    figsize=(10,10)
)
plt.title("Immigration from India and Pakistan to Canada 1980-2013")
plt.show()

In [ ]:
data.sort_values(by='Total', ascending=False, inplace=True, axis='index')

dftop5 = data.head(5)

dftop5 = dftop5[years].transpose()

dfbottom5 = data.tail(5)

dfbottom5 = dfbottom5[years].transpose()

In [ ]:
fig = plt.figure()

ax0 = fig.add_subplot(1,2,1)
ax1 = fig.add_subplot(1,2,2)


dftop5.plot(kind="box",figsize=(20,10),vert=False,color='red', ax=ax0)
ax0.set_title("Immigration from From top five countries to Canada 1980-2013")
ax0.set_xlabel("Number of immigrants")
ax0.set_ylabel("Countries")

dfbottom5.plot(kind="box",figsize=(20,10),vert=False,color='red', ax=ax1)
ax1.set_title("Immigration from From bottom five countries to Canada 1980-2013")
ax1.set_xlabel("Number of immigrants")
ax1.set_ylabel("Countries")

plt.show()

Q3. Create 4 subplots - to display boxplot of top 5 countries in europe, asia, africa, oceania

In [ ]:
data.sort_values(by='Total', ascending=False, inplace=True, axis='index')

In [ ]:
asia = data[data['Continent']=='Asia'].head(5)
asia = asia[years].transpose()
europe = data[data['Continent']=='Europe'].head(5)
europe = europe[years].transpose()
africa = data[data['Continent']=='Africa'].head(5)
africa = africa[years].transpose()
oceania = data[data['Continent']=='Oceania'].head(5)
oceania = oceania[years].transpose()

In [ ]:
fig = plt.figure()

ax0 = fig.add_subplot(1,4,1)
ax1 = fig.add_subplot(1,4,2)
ax2 = fig.add_subplot(1,4,3)
ax3 = fig.add_subplot(1,4,4)

asia.plot(kind="box",figsize=(10,10),vert=False,color='blue', ax=ax0)
ax0.set_title("Immigration from From top five countries in Asia to Canada 1980-2013")
ax0.set_xlabel("Number of immigrants")
ax0.set_ylabel("Countries")

europe.plot(kind="box",figsize=(10,10),vert=False,color='red', ax=ax1)
ax1.set_title("Immigration from From bottom five countries in Europe to Canada 1980-2013")
ax1.set_xlabel("Number of immigrants")
ax1.set_ylabel("Countries")

africa.plot(kind="box",figsize=(10,10),vert=False,color='black', ax=ax1)
ax2.set_title("Immigration from From bottom five countries in Africa to Canada 1980-2013")
ax2.set_xlabel("Number of immigrants")
ax2.set_ylabel("Countries")

oceania.plot(kind="box",figsize=(10,10),vert=False,color='green', ax=ax1)
ax3.set_title("Immigration from From bottom five countries in Oceania to Canada 1980-2013")
ax3.set_xlabel("Number of immigrants")
ax3.set_ylabel("Countries")

plt.show()

In [ ]:
dfindia = data.loc[['India'], years].transpose().describe()

Q1 = 10343.0
Q3= 28572.0
IQR=Q3-Q1
Outlier1 = Q3+1.5*IQR
Outlier2 = Q1 - 1.5*IQR
print(Outlier1)
print(Outlier2)

In [ ]:
dfindia = data.loc[['India'], years]
dfindia = dfindia[2013].describe()
q1 = dfindia.loc['75%']
q1

Q4. Identify countries which are outliers based on total migration

In [ ]:
for country in data.index:
  df = data.loc[[country], years].transpose().describe()
  Q1 = df.loc['25%']
  Q3 = df.loc['75%']
  IQR=Q3-Q1
  Outlier1 = Q3+1.5*IQR
  Outlier2 = Q1 - 1.5*IQR
  print(Outlier1)
  print(Outlier2)
  print("----")

In [ ]:
years = range(1980,2014)
dfscat = pd.DataFrame(data[years].sum(axis='index'))

dfscat.reset_index(inplace=True)

dfscat.columns = ['Year', 'Total']

dfscat.head()

In [ ]:
import numpy as np
x=dfscat['Year']
y=dfscat['Total']
fit=np.polyfit(x,y,1)
dfscat.plot(
    kind='scatter',
    figsize=(10,10),
    x='Year',
    y='Total',
    color='blue'
)
plt.title("Total immigration to canada from 1980-2013")
plt.xlabel("Years")
plt.ylabel("Number of immigrants")

plt.plot(x, fit[0]*x+fit[1], color='red')

plt.show()

In [ ]:
dfindopak = data.loc[['India','Pakistan'], years].transpose()
dfindopak.reset_index(inplace=True)
dfindopak.index.name = 'index'
dfindopak.rename(columns={'index':'Year'}, inplace=True)

ax0 = dfindopak.plot(
    kind='scatter',
    figsize=(10,10),
    x='Year',
    y='India',
    color='blue'
)

ax1 = dfindopak.plot(
    kind='scatter',
    figsize=(10,10),
    x='Year',
    y='Pakistan',
    color='green',
    ax=ax0
)


ax0.set_title("India and Pakistan immigration to canada from 1980-2013")
ax0.set_xlabel("Years")
ax0.set_ylabel("Number of immigrants")
ax0.legend(['India','Pakistan'], loc='upper left')

In [ ]:
normindia = (dfindopak['India'] - dfindopak['India'].min()) / (dfindopak['India'].max() - dfindopak['India'].min())
normpak = (dfindopak['Pakistan'] - dfindopak['Pakistan'].min()) / (dfindopak['Pakistan'].max() - dfindopak['Pakistan'].min())

ax0 = dfindopak.plot(
    kind='scatter',
    figsize=(10,10),
    x='Year',
    y='India',
    color='blue',
    s = normindia*200
)

ax1 = dfindopak.plot(
    kind='scatter',
    figsize=(10,10),
    x='Year',
    y='Pakistan',
    color='green',
    ax=ax0,
    s = normpak*200
)


ax0.set_title("India and Pakistan immigration to canada from 1980-2013")
ax0.set_xlabel("Years")
ax0.set_ylabel("Number of immigrants")
ax0.legend(['India','Pakistan'], loc='upper left')

Q5. Plot the bubble plot for Norway, Denmark, Finland

In [ ]:
df = data.loc[['Norway','Denmark', 'Finland'], years].transpose()
df.reset_index(inplace=True)
df.index.name = 'index'
df.rename(columns={'index':'Year'}, inplace=True)

normnor = (df['Norway'] - df['Norway'].min()) / (df['Norway'].max() - df['Norway'].min())
normden = (df['Denmark'] - df['Denmark'].min()) / (df['Denmark'].max() - df['Denmark'].min())
normfin = (df['Finland'] - df['Finland'].min()) / (df['Finland'].max() - df['Finland'].min())


ax0 = df.plot(
    kind='scatter',
    figsize=(10,10),
    x='Year',
    y='Norway',
    color='blue',
    s = normnor*200
)

ax1 = df.plot(
    kind='scatter',
    figsize=(10,10),
    x='Year',
    y='Denmark',
    color='green',
    ax=ax0,
    s = normden*200
)
ax2 = df.plot(
    kind='scatter',
    figsize=(10,10),
    x='Year',
    y='Norway',
    color='red',
    ax=ax0,
    s = normfin*200
)


ax0.set_title("Norway, Denmark and Finland immigration to canada from 1980-2013")
ax0.set_xlabel("Years")
ax0.set_ylabel("Number of immigrants")
ax0.legend(['Norway', 'Denmark', 'Finland'], loc='upper right')

Exercise 2:
Q1. Scatter plot for Norway, Denmark and sweden

In [ ]:
df = data.loc[['Norway','Denmark', 'Sweden'], years].transpose()
df.reset_index(inplace=True)
df.index.name = 'index'
df.rename(columns={'index':'Year'}, inplace=True)


ax0 = df.plot(
    kind='scatter',
    figsize=(10,10),
    x='Year',
    y='Norway',
    color='blue'
)

ax1 = df.plot(
    kind='scatter',
    figsize=(10,10),
    x='Year',
    y='Denmark',
    color='green',
    ax=ax0
)
ax2 = df.plot(
    kind='scatter',
    figsize=(10,10),
    x='Year',
    y='Sweden',
    color='red',
    ax=ax0
)


ax0.set_title("Norway, Denmark and Sweden immigration to canada from 1980-2013")
ax0.set_xlabel("Years")
ax0.set_ylabel("Number of immigrants")
ax0.legend(['Norway', 'Denmark', 'Sweden'], loc='upper right')

**Q2. Bubble plot for Norway, Denmark and Sweden**

In [ ]:
df = data.loc[['Norway','Denmark', 'Sweden'], years].transpose()
df.reset_index(inplace=True)
df.index.name = 'index'
df.rename(columns={'index':'Year'}, inplace=True)

normnor = (df['Norway'] - df['Norway'].min()) / (df['Norway'].max() - df['Norway'].min())
normden = (df['Denmark'] - df['Denmark'].min()) / (df['Denmark'].max() - df['Denmark'].min())
normfin = (df['Sweden'] - df['Sweden'].min()) / (df['Sweden'].max() - df['Sweden'].min())


ax0 = df.plot(
    kind='scatter',
    figsize=(10,10),
    x='Year',
    y='Norway',
    color='blue',
    s = normnor*200
)

ax1 = df.plot(
    kind='scatter',
    figsize=(10,10),
    x='Year',
    y='Denmark',
    color='green',
    ax=ax0,
    s = normden*200
)
ax2 = df.plot(
    kind='scatter',
    figsize=(10,10),
    x='Year',
    y='Sweden',
    color='red',
    ax=ax0,
    s = normfin*200
)


ax0.set_title("Norway, Denmark and Sweden immigration to canada from 1980-2013")
ax0.set_xlabel("Years")
ax0.set_ylabel("Number of immigrants")
ax0.legend(['Norway', 'Denmark', 'Sweden'], loc='upper right')

Q3. Boxplot for Norway, denmark and sweden

In [ ]:
df_nds = data.loc[['Norway','Denmark', 'Sweden'],years].transpose()
df_nds.head()

df_nds.plot(
    kind="box",
    figsize=(10,10)
)
plt.title("Immigration from Norway, Denmark and Sweden to Canada 1980-2013")
plt.show()

Q4. Waffle Chart for Norway, denmark and sweden

In [ ]:
%matplotlib inline

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches # needed for waffle Charts

mpl.style.use('ggplot') # optional: for ggplot-like style

# check for latest version of Matplotlib
print ('Matplotlib version: ', mpl.__version__) # >= 2.0.0

In [ ]:
def create_waffle_chart(categories, values, height, width, colormap, value_sign=''):

    # compute the proportion of each category with respect to the total
    total_values = sum(values)
    category_proportions = [(float(value) / total_values) for value in values]

    # compute the total number of tiles
    total_num_tiles = width * height # total number of tiles
    print ('Total number of tiles is', total_num_tiles)
    
    # compute the number of tiles for each catagory
    tiles_per_category = [round(proportion * total_num_tiles) for proportion in category_proportions]

    # print out number of tiles per category
    for i, tiles in enumerate(tiles_per_category):
        print (df_nds.index.values[i] + ': ' + str(tiles))
    
    # initialize the waffle chart as an empty matrix
    waffle_chart = np.zeros((height, width))

    # define indices to loop through waffle chart
    category_index = 0
    tile_index = 0

    # populate the waffle chart
    for col in range(width):
        for row in range(height):
            tile_index += 1

            # if the number of tiles populated for the current category 
            # is equal to its corresponding allocated tiles...
            if tile_index > sum(tiles_per_category[0:category_index]):
                # ...proceed to the next category
                category_index += 1       
            
            # set the class value to an integer, which increases with class
            waffle_chart[row, col] = category_index
    
    # instantiate a new figure object
    fig = plt.figure()

    # use matshow to display the waffle chart
    colormap = plt.cm.coolwarm
    plt.matshow(waffle_chart, cmap=colormap)
    plt.colorbar()

    # get the axis
    ax = plt.gca()

    # set minor ticks
    ax.set_xticks(np.arange(-.5, (width), 1), minor=True)
    ax.set_yticks(np.arange(-.5, (height), 1), minor=True)
    
    # add dridlines based on minor ticks
    ax.grid(which='minor', color='w', linestyle='-', linewidth=2)

    plt.xticks([])
    plt.yticks([])

    # compute cumulative sum of individual categories to match color schemes between chart and legend
    values_cumsum = np.cumsum(values)
    total_values = values_cumsum[len(values_cumsum) - 1]

    # create legend
    legend_handles = []
    for i, category in enumerate(categories):
        if value_sign == '%':
            label_str = category + ' (' + str(values[i]) + value_sign + ')'
        else:
            label_str = category + ' (' + value_sign + str(values[i]) + ')'
            
        color_val = colormap(float(values_cumsum[i])/total_values)
        legend_handles.append(mpatches.Patch(color=color_val, label=label_str))

    # add legend to chart
    plt.legend(
        handles=legend_handles,
        loc='lower center', 
        ncol=len(categories),
        bbox_to_anchor=(0., -0.2, 0.95, .1)
    )

In [ ]:
df_nds = data.loc[['Norway','Denmark', 'Sweden'],:]
df_nds.head()
categories = df_nds.index.values

value = df_nds['Total']

#create a waffle chart

width=40
height=10

colormap = plt.cm.coolwarm

In [ ]:
create_waffle_chart(categories, value, height, width, colormap)

Q5. Check for outliers in years 2013

In [ ]:
for country in data.index:
  print(country)
  df = data.loc[[country], years].transpose()
  df = df.loc[2013].describe()
  Q1 = df.loc['25%']
  Q3 = df.loc['75%']
  IQR=Q3-Q1
  Outlier1 = Q3+1.5*IQR
  Outlier2 = Q1 - 1.5*IQR
  print(Outlier1)
  print(Outlier2)
  print('\n')

Q6. Plot for mumbai city crimes (markers to map)

In [ ]:

import numpy as np
import pandas as pd
import folium

In [ ]:
df_incidents = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Police_Department_Incidents_-_Previous_Year__2016_.csv')

print('Dataset downloaded and read into a pandas dataframe!')

df_incidents.head()

df_incidents.shape

In [ ]:
df1 = df_incidents.iloc[0:100,:]

lat = 37.77
long = -122.42


map2 = folium.Map(location=[lat, long], zoom_start=12)

map2

In [ ]:
#get dataset
df1 = df_incidents.iloc[0:100,:]

#created a map
lat = 19.0760
long = 72.8777
map2 = folium.Map(location=[lat, long], zoom_start=12)


#Step 2: type of markers to use
for lat, long, labs in zip(df1.Y, df1.X, df1.Category):
       folium.CircleMarker(
           [lat, long],
           radius=5,
           color='yellow',
           fill=True,  
           popup=labs        
       ).add_to(map2)
#Step 3: show map
map2

In [ ]:
#get dataset
df1 = df_incidents.iloc[0:100,:]

#created a map
lat = 19.0760
long = 72.8777
map2 = folium.Map(location=[lat, long], zoom_start=12)


#Step 1: records have to be stores in  a datastricture
incidents = folium.map.FeatureGroup()



#Step 2: type of markers to use
for lat, long, labs in zip(df1.Y, df1.X, df1.Category):
   incidents.add_child(
       folium.CircleMarker(
           [lat, long],
           radius=5,
           color='yellow',
           fill=True,  
           popup=labs        
       ).add_to(incidents)


   )


#Step 3: add map
map2.add_child(incidents)

Chloropleth maps

In [ ]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

data = pd.read_excel('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Canada.xlsx',
                       sheet_name='Canada by Citizenship',
                       skiprows=range(20),
                       skipfooter=2
                      )

print('Data downloaded and read into a dataframe!')

data.drop(['AREA','Type','Coverage','DEV','REG'], inplace=True, axis='columns')

data.rename(columns={'OdName':'Country','AreaName':'Continent','RegName':'Continent-Region','DevName':'Development-status'}, inplace=True)

data['Total'] = data.sum(axis='columns')

years = range(1980, 2014)

data.head()

In [ ]:
!wget --quiet https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/world_countries.json -O world_countries.json
    
print('GeoJSON file downloaded!')

In [ ]:
world_geo = r'world_countries.json' # geojson file

# create a plain world map
world_map = folium.Map(location=[0, 0], zoom_start=2)

world_map

In [ ]:
world_map.choropleth(
    geo_data = world_geo,
    data = data,
    columns = ['Country', 'Total'],
    legend_name = 'Immigration to Canada',
    key_on='feature.properties.name',
    fill_color='YlOrRd',
    fill_opacity=0.7,
    line_opacity=0.2
)

world_map

In [ ]:

scale = np.linspace(data['Total'].min(), data['Total'].max(), 6, dtype=int)
scale = scale.tolist()
scale[-1] = scale[-1]+1

world_map = folium.Map(location=[0,0], zoom_start=2, tiles='Mapbox Bright')
world_map.choropleth(
    geo_data = world_geo,
    data = data,
    columns = ['Country', 'Total'],
    legend_name = 'Immigration to Canada',
    key_on='feature.properties.name',
    fill_color='YlOrRd',
    fill_opacity=0.7,
    line_opacity=0.2,
    threshold_scale= scale,
    reset=True
)

world_map